[submodule "dde-file-manager"]
	path = project/dde-file-manager
	url = ssh://cr.deepin.io:29418/dde/dde-file-manager
[submodule "dde-dock"]
	path = project/dde-dock
	url = ssh://cr.deepin.io:29418/dde/dde-dock
[submodule "dde-launcher"]
	path = project/dde-launcher
	url = ssh://cr.deepin.io:29418/dde/dde-launcher
[submodule "dde-control-center"]
	path = project/dde-control-center
	url = ssh://cr.deepin.io:29418/dde/dde-control-center
[submodule "dde-calendar"]
	path = project/dde-calendar
	url = ssh://cr.deepin.io:29418/dde/dde-calendar
[submodule "dde-qt-dbus-factory"]
	path = project/dde-qt-dbus-factory
	url = ssh://cr.deepin.io:29418/dde/dde-qt-dbus-factory
[submodule "deepin-desktop-base"]
	path = project/deepin-desktop-base
	url = ssh://cr.deepin.io:29418/deepin-desktop-base
[submodule "deepin-metacity"]
	path = project/deepin-metacity
	url = ssh://cr.deepin.io:29418/deepin-metacity
[submodule "deepin-wm"]
	path = project/deepin-wm
	url = ssh://cr.deepin.io:29418/deepin-wm
[submodule "startdde"]
	path = project/startdde
	url = ssh://cr.deepin.io:29418/dde/startdde
[submodule "dde-session-ui"]
	path = project/dde-session-ui
	url = ssh://cr.deepin.io:29418/dde/dde-session-ui
[submodule "deepin-appstore"]
	path = project/deepin-appstore
	url = ssh://cr.deepin.io:29418/dstore/deepin-appstore
[submodule "deepin-notifications"]
	path = project/deepin-notifications
	url = ssh://cr.deepin.io:29418/deepin-notifications
[submodule "deepin-manual"]
	path = project/deepin-manual
	url = ssh://cr.deepin.io:29418/deepin-manual
[submodule "deepin-image-viewer"]
	path = project/deepin-image-viewer
	url = ssh://cr.deepin.io:29418/deepin-image-viewer
[submodule "deepin-terminal"]
	path = project/deepin-terminal
	url = ssh://cr.deepin.io:29418/deepin-terminal
[submodule "deepin-remote-assistance"]
	path = project/deepin-remote-assistance
	url = ssh://cr.deepin.io:29418/deepin-remote-assistance
[submodule "deepin-music"]
	path = project/deepin-music
	url = ssh://cr.deepin.io:29418/deepin-music
[submodule "deepin-feedback"]
	path = project/deepin-feedback
	url = ssh://cr.deepin.io:29418/deepin-feedback
[submodule "deepin-shortcut-viewer"]
	path = project/deepin-shortcut-viewer
	url = ssh://cr.deepin.io:29418/deepin-shortcut-viewer
[submodule "dae"]
	path = project/dae
	url = ssh://cr.deepin.io:29418/dae
[submodule "dbus-factory"]
	path = project/dbus-factory
	url = ssh://cr.deepin.io:29418/dbus-factory
[submodule "dde-api"]
	path = project/dde-api
	url = ssh://cr.deepin.io:29418/dde/dde-api
[submodule "dde-daemon"]
	path = project/dde-daemon
	url = ssh://cr.deepin.io:29418/dde/dde-daemon
[submodule "dde-polkit-agent"]
	path = project/dde-polkit-agent
	url = ssh://cr.deepin.io:29418/dde/dde-polkit-agent
[submodule "deepin-boot-maker"]
	path = project/deepin-boot-maker
	url = ssh://cr.deepin.io:29418/deepin-boot-maker
[submodule "deepin-cogl"]
	path = project/deepin-cogl
	url = ssh://cr.deepin.io:29418/deepin-cogl
[submodule "default-settings"]
	path = project/default-settings
	url = ssh://cr.deepin.io:29418/default-settings
[submodule "deepin-desktop-schemas"]
	path = project/deepin-desktop-schemas
	url = ssh://cr.deepin.io:29418/deepin-desktop-schemas
[submodule "deepin-gtk-theme"]
	path = project/deepin-gtk-theme
	url = ssh://cr.deepin.io:29418/deepin-gtk-theme
[submodule "deepin-icon-theme"]
	path = project/deepin-icon-theme
	url = ssh://cr.deepin.io:29418/deepin-icon-theme
[submodule "deepin-installer-reborn"]
	path = project/deepin-installer-reborn
	url = ssh://cr.deepin.io:29418/deepin-installer-reborn
[submodule "deepin-menu"]
	path = project/deepin-menu
	url = ssh://cr.deepin.io:29418/deepin-menu
[submodule "deepin-movie"]
	path = project/deepin-movie
	url = ssh://cr.deepin.io:29418/deepin-movie
[submodule "deepin-mutter"]
	path = project/deepin-mutter
	url = ssh://cr.deepin.io:29418/deepin-mutter
[submodule "deepin-screen-recorder"]
	path = project/deepin-screen-recorder
	url = ssh://cr.deepin.io:29418/deepin-screen-recorder
[submodule "deepin-screenshot"]
	path = project/deepin-screenshot
	url = ssh://cr.deepin.io:29418/deepin-screenshot
[submodule "deepin-sound-theme"]
	path = project/deepin-sound-theme
	url = ssh://cr.deepin.io:29418/deepin-sound-theme
[submodule "deepin-tool-kit"]
	path = project/deepin-tool-kit
	url = ssh://cr.deepin.io:29418/deepin-tool-kit
[submodule "deepin-voice-recorder"]
	path = project/deepin-voice-recorder
	url = ssh://cr.deepin.io:29418/deepin-voice-recorder
[submodule "deepin-wallpapers"]
	path = project/deepin-wallpapers
	url = ssh://cr.deepin.io:29418/deepin-wallpapers
[submodule "deepin-wm-switcher"]
	path = project/deepin-wm-switcher
	url = ssh://cr.deepin.io:29418/deepin-wm-switcher
[submodule "dtksettings"]
	path = project/dtksettings
	url = ssh://cr.deepin.io:29418/dtksettings
[submodule "go-dbus-generator"]
	path = project/go-dbus-generator
	url = ssh://cr.deepin.io:29418/go-dbus-generator
[submodule "go-lib"]
	path = project/go-lib
	url = ssh://cr.deepin.io:29418/go-lib
[submodule "go-gir-generator"]
	path = project/go-gir-generator
	url = ssh://cr.deepin.io:29418/go-gir-generator
[submodule "miraclecast"]
	path = project/miraclecast
	url = ssh://cr.deepin.io:29418/miraclecast
[submodule "lastore-daemon"]
	path = project/lastore-daemon
	url = ssh://cr.deepin.io:29418/lastore/lastore-daemon
[submodule "project/mintdrivers"]
	path = project/mintdrivers
	url = ssh://cr.deepin.io:29418/mintdrivers
[submodule "project/deepin-qml-widgets"]
	path = project/deepin-qml-widgets
	url = ssh://cr.deepin.io:29418/deepin-qml-widgets
[submodule "qt5integration"]
	path = project/qt5integration
	url = ssh://cr.deepin.io:29418/qt5integration
[submodule "project/deepin-icon-theme-tools"]
	path = project/deepin-icon-theme-tools
	url = ssh://cr.deepin.io:29418/deepin-icon-theme-tools
[submodule "project/deepin-gettext-tools"]
	path = project/deepin-gettext-tools
	url = ssh://cr.deepin.io:29418/deepin-gettext-tools
[submodule "project/dde-help"]
	path = project/dde-help
	url = ssh://cr.deepin.io:29418/dde/dde-help
[submodule "project/deepin-deb-installer"]
	path = project/deepin-deb-installer
	url = ssh://cr.deepin.io:29418/deepin-deb-installer
[submodule "project/dtkcore"]
	path = project/dtkcore
	url = ssh://cr.deepin.io:29418/dtkcore
[submodule "project/dtkwidget"]
	path = project/dtkwidget
	url = ssh://cr.deepin.io:29418/dtkwidget
[submodule "project/dtkwm"]
	path = project/dtkwm
	url = ssh://cr.deepin.io:29418/dtkwm
[submodule "deepin-system-monitor"]
	path = project/deepin-system-monitor
	url = ssh://cr.deepin.io:29418/deepin-system-monitor
[submodule "deepin-movie-reborn"]
	path = project/deepin-movie-reborn
	url = ssh://cr.deepin.io:29418/deepin-movie-reborn
[submodule "project/deepin-picker"]
	path = project/deepin-picker
	url = ssh://cr.deepin.io:29418/deepin-picker
[submodule "project/go-x11-client"]
	path = project/go-x11-client
	url = ssh://cr.deepin.io:29418/go-x11-client
[submodule "project/plymouth-theme-deepin"]
	path = project/plymouth-theme-deepin
	url = ssh://cr.deepin.io:29418/plymouth-theme-deepin
[submodule "project/deepin-clone"]
	path = project/deepin-clone
	url = ssh://cr.deepin.io:29418/deepin-clone
[submodule "qt5dxcb-plugin"]
	path = project/qt5dxcb-plugin
	url = ssh://cr.deepin.io:29418/qt5dxcb-plugin
[submodule "deepin-graphics-driver-manager"]
	path = project/deepin-graphics-driver-manager
	url = ssh://cr.deepin.io:29418/deepin-graphics-driver-manager
[submodule "project/deepin-calculator"]
	path = project/deepin-calculator
	url = ssh://cr.deepin.io:29418/deepin-calculator
[submodule "project/deepin-repair-tools"]
	path = project/deepin-repair-tools
	url = ssh://cr.deepin.io:29418/deepin-repair-tools
[submodule "project/deepin-font-installer"]
	path = project/deepin-font-installer
	url = ssh://cr.deepin.io:29418/deepin-font-installer
[submodule "project/deepin-webengine"]
	path = project/deepin-webengine
	url = ssh://cr.deepin.io:29418/deepin-webengine
[submodule "project/dpa-ext-gnomekeyring"]
	path = project/dpa-ext-gnomekeyring
	url = ssh://cr.deepin.io:29418/dpa-ext-gnomekeyring
[submodule "project/deepin-qt5config"]
	path = project/deepin-qt5config
	url = ssh://cr.deepin.io:29418/deepin-qt5config
